{% extends 'layout.njk' %}
{% block content %}

    <div>

        用户名:<input class='username'/>
    </div>

    <div>

        <button class='next-btn' disabled>下一步</button>
    </div>
{% endblock %}

{% block script %}

<script src='/js/nameRegist.js'>


</script>
{% endblock %}
