{% extends 'layout.njk' %}
{% block content %}

    <div>

        年龄:<input class='age'/>
    </div>

    <div>

        <button class='next-btn'>注册</button>
    </div>
{% endblock %}

{% block script %}

<script src='/js/userinfoRegist.js'>


</script>
{% endblock %}