{% extends 'layout.njk' %}
{% block content %}

    <div>
        username: <input class='username'/>
    </div>

    <div>
        password: <input class='password'/>
    </div>

    <div>
        <button class='btn'>登陆</button>
    </div>

    <div>
        <button class='test-btn'>test</button>
    </div>
{% endblock %}

{% block script %}

<script src='/js/login.js'></script>
{% endblock %}
